@model IEnumerable<SimpleCQRS.InventoryItemListDto>
@{
    ViewData["Title"] = "Home Page";

}

<h2>All items:</h2>

<ul>
    @foreach (var inventoryItemListDto in Model)
    {
        <li>@Html.ActionLink("Name: " + inventoryItemListDto.Name, "Details", new { Id = inventoryItemListDto.Id })</li>
    }
</ul>
@Html.ActionLink("Add", "Add")